@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Inter:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: transparent; /* чтобы не появлялся белый фон за секциями */
}

/* Контейнер для центрирования контента */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: flex-start; /* выравниваем текст и галерею по верху */
  gap: 20px; /* расстояние между текстом и видео */
  box-sizing: border-box;
}
.text {
  flex: 0 0 350px; /* фиксированная ширина для текста, чтобы все секции выравнивались */
  text-align: right; /* текст по правому краю на десктопе */
}

.gallery {
  flex: 1 1 auto; /* видео занимает оставшееся пространство */
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Секции на всю ширину */
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Цвета секций на всю ширину */
.section:nth-child(1) { background-color: #F7F2EC; color: #091F5B; }
.section:nth-child(2) { background-color: #344EAD; color: #F7F2EC; }
.section:nth-child(3) { background-color: #F2F1DF; color: #091F5B; }
.section:nth-child(4) { background-color: #6F96D1; color: #F7F2EC; }
.section:nth-child(5) { background-color: #FFF9EF; color: #091F5B; }
.section:nth-child(6) { background-color: #091F5B; color: #F7F2EC; }

/* Кон*
