body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #F7F2EC;
  color: black;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

main h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

